LE70150412007343EDC04.tar.gz filter=lfs diff=lfs merge=lfs -text
AVIRIS-MoffetField-Reflectance-FlightRun3-Chip.bad filter=lfs diff=lfs merge=lfs -text
hicam_pool.re.ice.h5 filter=lfs diff=lfs merge=lfs -text
Landsat7_p039r035_20000503.zip filter=lfs diff=lfs merge=lfs -text
LE70150412001006EDC01.tar.gz filter=lfs diff=lfs merge=lfs -text
Samson.zip filter=lfs diff=lfs merge=lfs -text
sim/path_30hz.csv filter=lfs diff=lfs merge=lfs -text
Landsat7_p177r039_20011223.zip filter=lfs diff=lfs merge=lfs -text
sim filter=lfs diff=lfs merge=lfs -text
ASTER-NewYork-2006April28.zip filter=lfs diff=lfs merge=lfs -text
ASTER-ShapeFiles-NewYork.zip filter=lfs diff=lfs merge=lfs -text
hicam_catch-gray.re.ice.h5 filter=lfs diff=lfs merge=lfs -text
LE70150422010191EDC00.tar.gz filter=lfs diff=lfs merge=lfs -text
LT50150412009164EDC00.tar.gz filter=lfs diff=lfs merge=lfs -text
LT50150421984112XXX03.tar.gz filter=lfs diff=lfs merge=lfs -text
ASTER-LasVegas-2006May04.zip filter=lfs diff=lfs merge=lfs -text
AVIRIS-MoffetField-Reflectance-FlightRun3-Chip.re.ice.h5 filter=lfs diff=lfs merge=lfs -text
LE70150412010351EDC01.tar.gz filter=lfs diff=lfs merge=lfs -text
LT50260411986066XXX01.tar.gz filter=lfs diff=lfs merge=lfs -text
AVIRIS-MoffetField-Reflectance-FlightRun1.zip filter=lfs diff=lfs merge=lfs -text
AVIRIS-MoffetField-Reflectance-FlightRun3.zip filter=lfs diff=lfs merge=lfs -text
Landsat7_p014r033_20010710.zip filter=lfs diff=lfs merge=lfs -text
LM50150411990288AAA03.tar.gz filter=lfs diff=lfs merge=lfs -text
sim/path_1hz.csv filter=lfs diff=lfs merge=lfs -text
Digital-Globe-Quickbird.zip filter=lfs diff=lfs merge=lfs -text
Landsat7_p014r033_19990923.zip filter=lfs diff=lfs merge=lfs -text
mie4nitf.7z filter=lfs diff=lfs merge=lfs -text
Samson.7z filter=lfs diff=lfs merge=lfs -text
sim/LC80160302013262LGN00_B4_radiance.tif filter=lfs diff=lfs merge=lfs -text
